version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=rfx_db
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  db_test:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=rfx_db_test
      
    ports:
      - "5433:5432" 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build: .
    volumes:
      - ./storage:/app/storage
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - PROJECT_NAME="PROJECT MANAGEMENT SYSTEM (DOCKER)"
      - POSTGRES_SERVER=db    
      - POSTGRES_PORT=5432
      - POSTGRES_DB=rfx_db
      - REDIS_HOST=redis
    command: /bin/sh -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    ports:
      - "8000:8000"
  app_test:
    build: .
    volumes:
      - .:/app
    depends_on:
      db_test:
        condition: service_healthy
    environment:
      - POSTGRES_SERVER=db_test  
      - POSTGRES_PORT=5432    
      - POSTGRES_DB=rfx_db_test
      - REDIS_HOST=redis
      - DATABASE_URL=postgresql://postgres:123456@db_test:5432/rfx_db_test
      - TEST_DATABASE_URL=postgresql+asyncpg://postgres:123456@db_test:5432/rfx_db_test
    command: /bin/sh -c "alembic upgrade head && pytest -v --cov=app --cov-report=term-missing"
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./storage:/usr/share/nginx/html/storage
    depends_on:
      - backend

volumes:
  postgres_data: