version: '3.8'

services:
  db_test:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=rfx_db_test
    ports:
      - "5433:5432" 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  app_test:
    build: .
    volumes:
      - .:/app 
    depends_on:
      db_test:
        condition: service_healthy
    environment:
      - POSTGRES_SERVER=db_test
      - POSTGRES_PORT=5432
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=rfx_db_test
      - TEST_DATABASE_URL=postgresql+asyncpg://postgres:123456@db_test:5432/rfx_db_test
      - PYTHONPATH=/app
    command: pytest -v 
  redis :
    image: "redis:alpine"
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5